/* LoginPanel.module.css */

.container{
    height: 100vh;
    width: 100vw;
    max-width: 708px;
    background-color: white;
    position: absolute;
    right: 0;
    top:0;
}

  .title {
    /* Styles for the title */
  }
  
  .emailInput {
    /* Styles for the email input field */
  }
  
  .passwordInput {
    /* Styles for the password input field */
  }
  
  .submitButton {
    /* Styles for the submit button */
  }
  
  .createAccountButton {
    /* Styles for the create account button */
  }
  
  .forgotPassword {
    /* Styles for the forgot password link */
  }
  
  .loginLink {
    /* Styles for the login link */
  }